*~
*.save
*~.skp
*.git.hidden

uas/px4-firmware/*.d
!uas/px4-firmware/ROMFS/*/*.d
!uas/px4-firmware/ROMFS/*/*/*.d
!uas/px4-firmware/ROMFS/*/*/*/*.d
uas/px4-firmware/*.dSYM
uas/px4-firmware/*.o
uas/px4-firmware/*.pyc
uas/px4-firmware/*~
uas/px4-firmware/.*.swp
uas/px4-firmware/.context
uas/px4-firmware/.cproject
uas/px4-firmware/.DS_Store
uas/px4-firmware/.gdbinit
uas/px4-firmware/.project
uas/px4-firmware/.settings
uas/px4-firmware/.swp
uas/px4-firmware/.~lock.*
uas/px4-firmware/Archives/*
uas/px4-firmware/Build/*
uas/px4-firmware/Testing/
uas/px4-firmware/build/*
uas/px4-firmware/build_*/
uas/px4-firmware/core
uas/px4-firmware/cscope.out
uas/px4-firmware/Firmware.sublime-workspace
uas/px4-firmware/user.sublime*
uas/px4-firmware/Images/*.bin
uas/px4-firmware/Images/*.px4
uas/px4-firmware/mavlink/include/mavlink/v0.9/
uas/px4-firmware/nuttx-configs/px4io-v2/src/.depend
uas/px4-firmware/nuttx-configs/px4io-v2/src/Make.dep
uas/px4-firmware/nuttx-configs/px4io-v2/src/libboard.a
uas/px4-firmware/nuttx-configs/px4io-v1/src/.depend
uas/px4-firmware/nuttx-configs/px4io-v1/src/Make.dep
uas/px4-firmware/nuttx-configs/px4io-v1/src/libboard.a
uas/px4-firmware/Documentation/doxy.log
uas/px4-firmware/Documentation/html/
uas/px4-firmware/Documentation/doxygen*objdb*tmp
uas/px4-firmware/.tags
uas/px4-firmware/tags
uas/px4-firmware/.tags_sorted_by_file
uas/px4-firmware/.pydevproject
uas/px4-firmware/.ropeproject
uas/px4-firmware/*.orig
uas/px4-firmware/src/modules/uORB/topics/*
uas/px4-firmware/src/platforms/nuttx/px4_messages/*
uas/px4-firmware/src/platforms/ros/px4_messages/*
uas/px4-firmware/Firmware.zip
uas/px4-firmware/unittests/build
uas/px4-firmware/*.generated.h
uas/px4-firmware/.vagrant
uas/px4-firmware/*.pretty
uas/px4-firmware/xcode


libs/lib/Frameworks/GStreamer.framework
gcs/qgroundcontrol/*.swp
gcs/qgroundcontrol/*.nfs
gcs/qgroundcontrol/CMakeFiles
gcs/qgroundcontrol/*Makefile*
gcs/qgroundcontrol/tags
gcs/qgroundcontrol/build*/
gcs/qgroundcontrol/Info.plist
gcs/qgroundcontrol/obj
gcs/qgroundcontrol/.DS_Store
gcs/qgroundcontrol/*.log
gcs/qgroundcontrol/bin/*.exe
gcs/qgroundcontrol/bin/*.txt
gcs/qgroundcontrol/bin/mac
gcs/qgroundcontrol/*pro.user*
gcs/qgroundcontrol/.qmake.stash
gcs/qgroundcontrol/qrc_*.cpp
gcs/qgroundcontrol/*.Debug
gcs/qgroundcontrol/*.Release
gcs/qgroundcontrol/tmp
gcs/qgroundcontrol/debug
gcs/qgroundcontrol/release
gcs/qgroundcontrol/qgroundcontrol
gcs/qgroundcontrol/qgroundcontrol.xcodeproj/**
gcs/qgroundcontrol/doc/html
gcs/qgroundcontrol/doc/doxy.log
gcs/qgroundcontrol/deploy/mac
gcs/qgroundcontrol/deploy/linux
gcs/qgroundcontrol/deploy/qgroundcontrol*
gcs/qgroundcontrol/controller_log*
gcs/qgroundcontrol/user_config.pri
gcs/qgroundcontrol/*.app
gcs/qgroundcontrol/*.ncb
gcs/qgroundcontrol/*.vcproj
gcs/qgroundcontrol/*.vcxproj*
gcs/qgroundcontrol/*.sdf
gcs/qgroundcontrol/*.ipch
gcs/qgroundcontrol/*.pdb
gcs/qgroundcontrol/*.sln
gcs/qgroundcontrol/*.sln
gcs/qgroundcontrol/*.vcproj
gcs/qgroundcontrol/*.user
gcs/qgroundcontrol/*.ncb
gcs/qgroundcontrol/*.idb
gcs/qgroundcontrol/*.project
gcs/qgroundcontrol/*.cproject
gcs/qgroundcontrol/*.sln
gcs/qgroundcontrol/*.suo
gcs/qgroundcontrol/*.uhf.txt
gcs/qgroundcontrol/*.opensdf
gcs/qgroundcontrol/thirdParty/qserialport-build-desktop/
gcs/qgroundcontrol/thirdParty/qserialport/bin/
gcs/qgroundcontrol/thirdParty/qserialport/lib/
gcs/qgroundcontrol/libs/thirdParty/libxbee/lib/
gcs/qgroundcontrol/GeneratedFiles/
gcs/qgroundcontrol/gstreamer-1.0-android*
gcs/qgroundcontrol/*.autosave
gcs/qgroundcontrol/.settings/
# Generated files
gcs/qgroundcontrol/moc_*
gcs/qgroundcontrol/ui_*
gcs/qgroundcontrol/*.o
gcs/qgroundcontrol/*.a
gcs/qgroundcontrol/*.so*
gcs/qgroundcontrol/*.moc
gcs/qgroundcontrol/*.prl
# android
gcs/qgroundcontrol/android/local.properties
gcs/qgroundcontrol/android/gradle.properties
# doxygen
gcs/qgroundcontrol/src/html/
gcs/qgroundcontrol/src/latex/

gcs/rosws/build/
gcs/rosws/devel/

*.i
*.ii
*.gpu
*.ptx
*.cubin
*.fatbin
